{% extends "base.html" %} 
{% block content %}
        <form action="{% url 'buscar'%}" method="post">{% csrf_token %}
            <div class="form-group row">
                <label for="text-input" class="col-2 col-form-label">Codigo de barras</label>
                <div class="col-10">
                    <input class="form-control" type="number" name="codigoBarras" id="codigoBarras" placeholder="ingrese un codigo de baras" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
        <br>
            {% load staticfiles %}
          <div class="container">
            <div class="section">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <table class="table table-bordered">
                        <tr>
                            <th>Codigo de Barras</th>
                            <th>Nombre Producto</th>
                            <th>Categoria</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Tipo Precio</th>
                            <th>Bodega</th>
                            <th>Tipo Bodega</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                            <th>Foto</th>
                            <th>Activo</th>
                        </tr>
                        {% for row in productos %}
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td>{{ row.4 }}</td>
                            <td>{{ row.5 }}</td>
                            <td>{{ row.6 }}</td>
                            <td>{{ row.7 }}</td>
                            <td>{{ row.8 }}</td>
                            <td>{{ row.9 }}</td>
                            <td><img src="{% static 'Uploads' %}/{{ row.10 }}" alt="" height="100" width="100"></td>
                            <td>{{ row.11 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
          </div>
{% endblock %}

