{% extends "base.html" %} 
{% block content %}
    {% load staticfiles %}
<form action="{% url 'buscarmodificar'%}" method="post">{% csrf_token %}
    <div class="form-group row">
        <label for="text-input" class="col-2 col-form-label">Codigo de barras</label>
        <div class="col-10">
            <input class="form-control" type="number" name="codigoBarras" id="codigoBarras" placeholder="ingrese un codigo de baras" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>
<br>
{% for rowB in productos %}
<form class="col s12" action= method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="text-input" class="col-2 col-form-label">Codigo de barras</label>
                <div class="col-10">
                    <input class="form-control" type="number" name="codigoBarras" min="1" max="99999999999" id="codigoBarras" value="{{ rowB.0 }}" placeholder="ingrese un codigo de baras" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Nombre producto</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="nombreProducto" maxlength="100" id="nombreProducto" value="{{ rowB.1 }}" placeholder="ingrese un nombre de producto" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Select" class="col-2 col-form-label">Categoria</label>
                <div class="col-10">
                    <select class="form-control" id="categoria" name="categoria" required>
                    <option value="" selected>Selecciona</option>
                    {% for row in ListaC %} {% if row.nombre_categoria == rowB.2 %}
                    <option value="{{row.id_categoria}}" selected>{{row.nombre_categoria}}</option>
                    {% else %}
                    <option value="{{row.id_categoria}}">{{row.nombre_categoria}}</option>
                    {% endif %} {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="Select" class="col-2 col-form-label">Estado</label>
                <div class="col-10">
                    <select class="form-control" id="estadoProducto" name="estadoProducto" required>
                    <option value="" selected>Selecciona</option>
                    {% for row in ListaE %}{% if row.nombre_tipo == rowB.8 %}
                    <option value="{{row.id_estado_producto}}" selected>{{row.nombre_tipo}}</option>
                    {% else %}
                    <option value="{{row.id_estado_producto}}">{{row.nombre_tipo}}</option>
                    {% endif %} {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Detalle producto</label>
                <div class="col-10">
                    <input class="form-control" type="text" name="detalle" id="detalle" maxlength="1000" value="{{ rowB.9 }}" placeholder="ingrese el detalle del producto" required>
                </div>
            </div>
            <img src="{% static 'Uploads' %}/{{ rowB.10 }}" alt="" height="100" width="100">
            <div class="form-group row">
                <label for="InputFile" class="col-2 col-form-label">seleccione una foto</label>
                <div class="col-10">
                    <input type="file" class="form-control-file" id="file" name="file" aria-describedby="fileHelp" required>
                    <small id="fileHelp" class="form-text text-muted">Los tipos de archivos soportados son JPG , PNG</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="Select" class="col-2 col-form-label">Bodega</label>
                <div class="col-10">
                    <select class="form-control" id="bodega" name="bodega" required>
                        <option value="" selected>Selecciona</option>
                        {% for row in listaB %}{% if row.direccion_bodega == rowB.6 %}
                        <option value="{{row.id_bodega}}" selected>{{row.direccion_bodega}}</option>
                        {% else %}
                        <option value="{{row.id_bodega}}">{{row.direccion_bodega}}</option>
                        {% endif %} {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Cantidad producto</label>
                <div class="col-10">
                    <input class="form-control" type="number" name="stock" id="stock" value="{{ rowB.3 }}" min="1" placeholder="ingrese la cantidad del producto" required>
                </div>
            </div>
            {% for row in listaD %}{% if row.codigo_de_barras == rowB.0 %}
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Precio </label>
                <div class="col-10">
                    <input class="form-control" type="number" name="pNormal" id="pNormal" min="1" value="{{ row.precio }}" placeholder="ingrese el precio Normal del producto" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Precio Oferta</label>
                <div class="col-10">
                    <input class="form-control" type="number" name="pOferta" id="pOferta" value="{{ row.precio }}" min="1" max="99999999999" placeholder="ingrese el precio oferta del producto" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="number-input" class="col-2 col-form-label">Precio Tarjeta</label>
                <div class="col-10">
                    <input class="form-control" type="number" name="pTarjeta" id="pTarjeta" value="{{ row.precio }}" min="1" max="99999999999" placeholder="ingrese el precio Tarjeta del producto" required>
                </div>
            </div>
            {% endif %}{% endfor %}
    <div class="form-group">
        <div class="input-field col s6">
            Activo:
            <br>
            {% if rowB.11 == 0 %}
                <input type="radio" name="activo" id="activo" value="0" checked="true" required> No activo
                <br>
                <input type="radio" name="activo" id="activo" value="1" required>Activo
            {% else %}
                <input type="radio" name="activo" id="activo" value="0" required>No activo
                <br>
                <input type="radio" name="activo" id="activo" value="1" checked="true" required>Activo
            {% endif %}
        </div>
    </div>
    <div class="form-group">
            <div class="input-field col s6">
                <button class="btn btn-primary" type="submit" name="action">Modificar</button>
            </div>
    </div>
</form>

{% endfor %}
{% endblock %}

  