{% extends "base.html" %} 
{% block content %}
<table class="table table-bordered">
    <tr>
        <th>Codigo de Barras</th>
        <th>Nombre Producto</th>
        <th>Categoria</th>
        <th>Tipo Producto</th>
        <th>Stock</th>
        <th>Bodega</th>
        <th>Precio</th>
        <th>Tipo Precio</th>
        <th>Detalle</th>
        <th>Foto</th>
    </tr>
    {% for row in lista %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td><img src="static/Uploads/{{row[9]}}" alt="" height="100" width="100"></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}